
#skills-list{
display: flex;
flex-direction: column;
margin: 5px 5px;
max-width: fit-content;
align-items: center;
}
#skills-img{
    display: flex;
    flex-direction: column;
    
}
 img{
    transition: transform .2s; 
}
 img :hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
#skills h1{
    margin: 15px 0px;
    margin-left: 0px;

}