body{
    background: var(--background);
    color: var(--primary);
    padding: 20px;
    display:flex;
    flex-wrap:wrap ;
    max-width:1024px;
    margin: 30px auto;
    font-family: 'Philosopher', sans-serif !important;
    --dark-background: #253a52;
  --dark-primary: #FFFFE3;
  --dark-link: #A9FE75;

  --light-background:#f7ab65;
  --light-primary: #253a52;
  --light-link: #1348da;

  --background: var(--light-background);
  --primary: var(--light-primary);
  --link: var(--light-link);
}
/*   for dark mode button  */
.controls {
    display: flex;
    justify-content: end;
    padding-top:7px;
    margin-bottom: -60px;
}
  .toggle-switch {
    display: inline-flex;
    align-items: center;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: .875rem;
    cursor: pointer;
    color:#FFFFE3;
  }
  
  .toggle-switch-border {
    display: inline-flex;
    align-items: center;
    width: 60px;
    height: 36px;
    border: 1px solid var(--primary); 
    border-radius: 20px;
    box-sizing: border-box;
    margin-inline-start: 8px;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .toggle-switch-dot {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--primary);
    transform: translate3d(3px, 0, 0);
    transition: transform .1s ease-in-out;
  }
  
  .toggle-switch input:checked + * .toggle-switch-dot {
    transform: translate3d(26px, 0, 0);
  }
/*   end dark mode button  */
#landing-bio {
    display: flex;
    border-bottom:2px solid #438BCF ;
    padding: 10px;
    padding-bottom: 60px;
    margin: 60px auto;
    width: 100%;

}
#landing-bio img{
    height: 400px;
    width:400px;
    border-radius: 70%;
    margin:auto;
    image-rendering: optimizeQuality;
    box-shadow:  5px 5px 5px gray;
    object-fit: cover;

}
header{
    display:flex;
    width: 100%;
    border-bottom:2px solid #438BCF ;
    padding-bottom: 20px;
    align-items:center;
}
/*header a{
    
    background-color:#438BCF;
    width: 110px;
    height: 15px;
    border-radius: 10px;
    padding: 9px 9px;
    line-height: 15px;
    text-align: center;
    font-size:18px;
    font-weight: 500;
    position:relative;
    margin: 10px;
    left: 650px;
    text-decoration: none;
    color: black;

} */

#contact-btns{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: end;
}
#contact-btns a{
    background-color:#438BCF;
    width: 110px;
    height: 20px;
    border-radius: 10px;
    padding: 9px 9px;
    line-height: 15px;
    text-align: center;
    font-size:20px;
    font-weight: 500;
    margin: 10px;
    text-decoration: none;
    color: black;

}
header h2{
    position: absolute;
    font-size: 40px;
    
    
}
#bio-txt{
    width:500px;
    margin: auto;
}
#bio-txt h2{
    font-size: 35px;

}
#bio-txt h4{
    font-size: 21px;
   line-height: 25px;
   font-weight: 500;
    
}
#bio-txt a{
    background-color: #438BCF;
    border-radius: 10px;
    text-decoration:none;
    display: inline-flex;
    align-items: center;
    height:30px;
    width: 120px;
    padding-left: 10px;
    font-size:19px;
    font-weight: 900;
    color:black;
}

#skills{
    display: flexbox;
    border-bottom:2px solid #438BCF ;
    padding: 10px;
    padding-bottom: 30px;
    align-items: center;
    width: 100%;
    height: 1000px;
    
    
}

#skills h1{
    font-size: 40px;
    margin-left: 400px;
}
#skills-page header a{
    position:initial;
    
}
#skills-list{
width: 500px;

font-size: 20px;
margin-left: 200px;
display: flex;
justify-content: space-between;
border-bottom:3px dotted #438BCF;
}
#skills-img{
    height: 250px;
    width: 350px;
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
}

#img-group1 img , #img-group2 img{
    width: 300px;
    border: 2px solid black;
    box-shadow: 7px 6px grey;
    margin: 10px 25px;
    transition: transform .2s;
   
}
#img-group1 img:hover{
    transform:scale(2.0);
   
}
#img-group2 img:hover{
    transform:scale(2.0);

}

#current-proj{
    display: inline-block;
    position:relative;
    left: 150px;
    top: 250px;

    font-size: 20px;
}
#current-proj h3{
    font-size: 34px;
}
.projects img{
    border: 2px solid black;
    box-shadow: 7px 6px grey;
    border-radius: 15px;
}
.progress-bar{
    background-color:#438BCF;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}
.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 0;
    background-color:black;
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border:2px solid #333;
    background-color:steelblue;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.front-end-course{
animation: front-end-course 3s linear forwards;
animation-delay: 6s
}
@keyframes front-end-course{
    100%{
        width:60%;
    }
}
.progress-bar .react{
    height: 10px;
    border-radius: 5px;
    width: 0;
    background-color:black;
    animation-delay: 6s;
}
.react{
    animation: react 2s linear forwards;
    }
    @keyframes react{
        100%{
            width:10%;
        }
    }
 






/* /////////////////// css for the about me page /////////////////////// */


#contact-page .controls{
    margin-bottom: 10px;
}
#contact-page header a{
    left:450px;
}

@media all and (width:1020px) {
    header{
    display:flex;
    width: 80%;
    border-bottom:2px solid #438BCF ;
    padding-bottom: 20px;
    align-items:center;
    justify-content: space-evenly;
    }
    #contact-btns{
        width: 700px ;
    }
}




@media all and (max-width: 1000px){
    header{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    header h2{
        margin-top: 0px;
        
    }
    #contact-btns{
        display: flex;
        flex-direction: row;
        margin:auto;
        justify-content: space-around;
        width: 900px;
    }
    #contact-btns a{
        margin-top: 80px;
    }
}
@media all and (max-width:800px){
    body{
        max-width: 800px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    #contact-btns{
        width: 500px;
        position: relative;
        display: flex;
    }
    #landing-bio{
        flex-direction: column;
    }
    .projects{
        width: 800px;
    }
    .outer-contact-ctn{
        width: 800px;
        margin-left: 100px !important;
    }
    .contact h1{
        margin-left:250px !important;
    }
    }

/* Extra small devices (phones, 600px and down) */
@media all and (max-width: 500px) {

    
    body{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
        margin: auto;
       padding: 20px;
       justify-content: center;
       align-items: center;
       
    }
    /* bio and nav section*/
    header{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    header h2{
        top: 30px;
        
    }
    #contact-btns{
       justify-content: center;
       align-items: center;
       flex-direction: column;
       top: 50px;
       right: 30px;
    }
    #contact-btns a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px auto;
    }
    .controls{
        display: block;
        margin-bottom: auto;
    }
    #landing-bio{
        display: flex;
        max-width: fit-content;
        flex-wrap: wrap;
        margin:5px 5px;
        justify-content: center;
        padding-right: 50px;
        max-height: fit-content;
    }
    #landing-bio img{
       margin: auto;
     }
    
    #bio-txt {
        margin-left: 10px;
        margin-top: 30px;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        max-width: fit-content;
    }
  
    #skills{
        display: flex;
        flex-direction:column;
        height:1400px;
        
    }
    #skills-page header{
        height: 200px;
    }
    #skills-page header a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 110px;
        margin-top: 15px;
        padding-bottom: 10px;
    }
    #skills-list{
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    max-width: fit-content;
    align-items: center;
    }
    #skills-img{
        display: flex;
        flex-direction: column;
    }
    #skills h1{
        margin: 15px 0px;
        margin-left: 0px;
    
    }

    #current-proj{
        display:none;
    }
    .projects{
       display: none;
       
    }

   
    .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 50px !important;
        height:fit-content;
        width: auto;
        padding-right: 50px;
        
    }
    .contact div{
        display: block;
        max-width: 500px;
        
    }
    .outer-contact-ctn h1{
        margin-bottom: 50px !important;
        margin-left: 90px !important;
        font-size: 38px;
    
    }
    .contact-right{
        margin-left: -120px;
    }
    html{
        max-width: 800px;
    }
}
